<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fll.archaeologyform">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ArchaeologyApplication"
        android:allowBackup="true"
        android:label="Archaeology Form"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Meta SDK Configuration - Developer Mode -->
        <meta-data
            android:name="com.meta.wearable.mwdat.APPLICATION_ID"
            android:value="0" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Callback scheme Meta AI uses to return to your app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="archaeologyform" />
            </intent-filter>
        </activity>
    </application>

</manifest>
